{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{{ project.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <div>
            <p>Dec 20, 2019 - A blog (shortening of “weblog”) 
            is an online journal or informational website displaying 
            information in the reverse chronological order, with the 
            latest posts appearing first. It is a platform where a writer 
            or even a group of writers share their views on an individual 
            subject.</p>
        </div>
    </div>
</div>
{% endblock %}